# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# LaTeX aux files
*.aux
*.bcf
*.log
*.run.xml
*.synctex.gz

# Text files
*.txt

# Graphics files
*.png
*.bmp

# Directories to ignore
data/
test/
tests/